/******************************
 *                            *
 *           GENERAL          *
 *                            *
 ******************************/

/* Estilo general del cuerpo de la página */
body {
    font-size: 22px;
    font-family: 'Courier New';
    font-weight: 500;
}





/******************************
 *                            *
 *     TITULO DE LA TABLA     *
 *                            *
 ******************************/

/* Estilo para los elementos h1 (usualmente los títulos principales) */
#h1Clientes {
    background-color: rgb(30, 247, 20);
}




/******************************
 *                            *
 *           TABLA            *
 *                            *
 ******************************/



#contenedorTablaClientes {
    position: relative;
    text-align: center;
    border-spacing: 1px;
    left: 4.9vw;
    top: 2vh;
    width: 90vw;
    max-height: 49.45vh;
    margin: auto;
    overflow-x: wrap;
    overflow-y: auto;
}


/* #tablaClientes{
    width: 100%;
} */


   
#contenedorTablaClientes::-webkit-scrollbar {
    display: none;
}
    

/* .ocultarScroll{
    border: 0px;
    z-index: 1;
    background-color: white;
} */


.tdClientes{
    white-space: nowrap;
    border: 3px solid black;
    max-width: 10vw;
    text-overflow: ellipsis;
    overflow: hidden;
}



#contenedorTablaClientes tbody tr:nth-child(even) .tdClientes {
    background-color: rgb(110, 215, 80);
}


#contenedorTablaClientes tbody tr:nth-child(odd) .tdClientes {
    background-color: rgb(0, 255, 170);
}





/******************************
 *                            *
 *          BOTONES           *
 *                            *
 ******************************/


#contenedorBotonCrearProfesiones{
    position: relative;
    left: 9%;
}
#botonCrearClientes{
    background-color: rgb(30, 247, 20);
    margin-top: 0.3%;
    width: 20%;
    height: 40px;
    font-size: 22px;
    font-family: 'Courier New';
    font-weight: 700;
}


.botonClientes{
    position: relative;
    background-color: rgb(30, 247, 20);
    font-size: 14px;
    font-family: "Courier New";
    font-weight: 600;
    left: 1%;
}


.botonClientes:hover, #botonCrearClientes:hover{
    background-color: rgb(210, 210, 210);
    border: 3px solid rgb(30, 247, 20);
    color: rgb(30, 247, 20);
    cursor: pointer;
}

.primeraOpcionSelect{
    background-color: rgb(189, 189, 189);
}









/******************************
 *                            *
 * FORMULARIO Y SUS ELEMENTOS *
 *                            *
 ******************************/


.h2FormularioClientes{  
    margin-top: 13%;
}

.h3FormularioClientes{  
    margin-top: 1%;
    margin-bottom: 6%;

}

.contenedorFormularioClientes{
    background-color: rgb(110, 215, 80);
    width: 50vw;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: 4px 8px 5px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    margin: auto;
    margin-top: 5%;
    flex-direction: column;
    overflow-y: auto;
}

.contenedorFormularioClientesScroll{
    height: 35vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.grupoForm {
    display: flex;
    flex-wrap: wrap;
}

.grupoForm div, 
.grupoForm label{
    flex: 0 0 45%;
    margin: 0 auto;
}
.grupoForm input{
    width: 100%;
    height: 3.1vh;
    text-align: center;

    font-size: 1.2rem;
}
.grupoForm input[type="date"]{
    height: 3.3vh;
    width: 101%;
}

.grupoForm select{
    width: 102%;
    height: 3.56vh;
    text-align: center;
    cursor: pointer;
}

/**********************/
.fecha_nacimiento{
    font-size: 1.2rem;
}
/**********************/



.contenedorFormularioClientes label{
margin-top: 3%;
margin-bottom: 1%;
font-weight: 700;
}

.contenedorFormularioClientesScroll::-webkit-scrollbar {
    display: none;
}



.contenedorFormularioClientes button{
    position: relative;
    margin-top: 7%;
    margin-bottom: 7%;
    height: 4.8vh;
    background-color: rgb(30, 247, 20);
    font-size: 22px;
    font-family: 'Courier New';
    font-weight: 700;
}

.contenedorFormularioClientes button:hover{
    background-color: rgb(210, 210, 210);
    border: 3px solid rgb(30, 247, 20);
    color: rgb(30, 247, 20);
    cursor: pointer;
}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#divCheckBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(30, 247, 20);
    width: 80vw;
    height: 14vh;
    margin: auto;
    border: 3px solid black;
}

#divCheckBox label{
    margin: 0.15vw 0.9vw;
    font-size: 1.1rem;
}
#divCheckBox label input{
    margin: 0;
    height: initial;
}
#divCheckBox label input:focus{
    outline: 0;
}










/*

·El input desborda por la longitud del contenido:
-Hacer elipsis

·En los select de los clientes el texto desborda sin elipsis:
-Poner elipsis

·Hacer mas ancho el formulario de manera que se vean tres columnas de inputs
-Id arriba del todo

*/